/*Общие стили для страницы*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header h1{
    background-color: rgb(7, 9, 102);
    color: rgb(211, 133, 32);
    text-align: left;
    padding: 30px;
    font-size: 40px ;
}
main h1 {

    color: rgb(211, 133, 32);
    text-align: center;
    padding: 30px;
    font-size: 80px ;
}

 main h2 {

    color: rgb(211, 133, 32);
    text-align: center;
    padding: 30px;
    font-size: 80px ;
}

main h3 {

    color: rgb(211, 133, 32);
    text-align: left;
    padding: 30px;
    font-size: 40px ;
    background-color: rgb(7, 9, 102);
}
nav> ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 9, 102);
    overflow: hidden;
}
nav li {
    float: left;
}
nav a {
    display: block;
    color: rgb(211, 133, 32);
    text-align: left;
    padding: 30px;
    font-size: 30px ;
    text-decoration: none;
}

/*Общие стили для фотографий на главной странице*/
header img{
    background-color:rgb(211, 133, 32);
    text-align: center;
    padding: 100px;
}
main figure  {
    text-align: center;
}
 main img{
    background-color:rgb(211, 133, 32);
    text-align: center;
    padding: 100px;
}
footer figure{
    text-align: center;
}
footer img{
    text-align: center;
}

/*Общие стили для подписей к гиперссылкам*/
main li {
    float: center;
}
main a {
    display: block;
    background-color: rgb(7, 9, 102);
    color: rgb(211, 133, 32);
    text-align: center;
    padding: 30px;
    font-size: 40px ;
    text-decoration: none;
}

/*Форма обратной связи*/
form {
    text-align: center;
    max-width: 200px;
    margin: 0;
    padding: 200px;
    background-color: rgb(211, 133, 32);
}

main [type='submit'] {
    margin: 10px;
    background-color: rgb(40, 42, 197);
    color: rgb(211, 133, 32);
    padding: 20px;
}
main [type='number'],
main [type='text'] ,
main [type='tel'],
main [type='email'] {
    text-align: center;
    margin: 10px;
    background-color: rgb(40, 42, 197);
    color: rgb(211, 133, 32);
    padding: 20px;
    width: 200px;
}
main  [for="username"],
main  [for="password"] {
    color:  rgb(40, 42, 197);
    padding: 30px;
    font-size: 20px ;
    margin: 20px 50px 30px 50px;;
} 

/*Табличка*/
table caption {

    background-color: rgb(7, 9, 102);
    color: rgb(211, 133, 32);
    padding: 30px;
    font-size: 50px ; 
}


caption + table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
 th, td{
    border: 1px solid rgb(211, 133, 32);
    padding: 8px;
    text-align: left;
 }
 th{
    background-color: rgb(211, 133, 32);  
 }
